htdocs/dist/news/single/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Notice Single | Website Name</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, viewport-fit=cover">
    <meta name="keywords" content="this is meta keyworks">
    <meta name="description" content="this is meta description">
    <meta property="og:title" content="this is meta title">
    <meta property="og:type" content="website">
    <meta property="og:description" content="this is meta description">
    <meta property="og:url" content="http://website.com/about/">
    <meta property="og:image" content="../../_assets/images/_etc/ogp.jpg">
    <meta property="fb:app_id" content="XXXXXXXXXXXXXXXX">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@XXXXX">
    <meta name="twitter:creator" content="@XXXXX">
    <meta name="twitter:image:src" content="../../_assets/images/_etc/ogp.jpg">
    <link rel="icon" type="image/x-icon" href="../../_assets/images/_etc/favicon.ico">
    <link rel="icon" type="image/png" href="../../_assets/images/_etc/favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="../../_assets/images/_etc/custom-icon.png">
    <script>
      (function(d) {
      var config = {
      kitId: 'iea8wuh',
      scriptTimeout: 3000,
      async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
      
    </script>
    
    <!-- Styles-->
    <link rel="stylesheet" media="print,screen" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" media="print,screen" href="../../_assets/css/style.css">
  </head>
  
  <body class="newsPage newsPageSingle">
    <header class="siteHeader">
      <div class="siteHeader__inner">
        <div class="u-spDb"><a class="siteHeader__logo-sp" href="/"><img src="../../_assets/images/common/globalNav_logo-sp.png" alt="nav logo"></a>
          <div class="hamburger">
            <div class="hamburger__trigger js-hamburger"><span class="hamburger__triggerSpan"></span><span class="hamburger__triggerSpan"></span><span class="hamburger__triggerSpan"></span></div>
            <p class="hamburger__menu">menu</p>
          </div>
        </div>
        <nav class="siteHeader__nav" role="navigator">
          <div class="u-pcDb">
            <ul class="siteHeader__navList">
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../../">光徳院について</a></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../../">境内案内</a></li>
              <li class="siteHeader__navItem"></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../../">墓地案内</a></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../../">アクセス</a></li>
            </ul>
          </div>
          <div class="u-spDb">
            <ul class="siteHeader__navList">
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../../">トップページ</a></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../../">光徳院について</a></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../../">境内案内</a></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../../">墓地案内</a></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../../">アクセス</a></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="../../">お知らせ</a></li>
            </ul>
          </div><a class="siteHeader__logo" href="/"><img src="../../_assets/images/common/globalNav_kv.png" alt="nav logo"></a>
        </nav>
      </div>
    </header>
    
    <main class="siteContent" role="main">
      <section class="sec01">
        <div class="news__bg"></div>
      </section>
      <section class="news__inner">
        <h1 class="news__title">0000000のお知らせ</h1>
        <p class="news__subtitle">	タイトルタイトルタイトル<br>	タイトルタイトル</p>
        <div class="news__content">
          <p class="news__contentText">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字</p>
        </div>
        <figure class="news__kv"><img src="../../_assets/images/common/sample.jpg" alt="image"></figure>
      </section>
      <section class="gallery">
        <div class="gallery__list">
          <figure class="gallery__item"><img class="u-pcDb" src="../../_assets/images/common/gallery_kv-01.jpg" alt="image"><img class="u-spDb" src="../../_assets/images/common/gallery_kv-01sp.jpg" alt="image">
            <figcaption class="gallery__itemCaption">光徳院について</figcaption>
          </figure>
          <figure class="gallery__item"><img class="u-pcDb" src="../../_assets/images/common/gallery_kv-02.jpg" alt="image"><img class="u-spDb" src="../../_assets/images/common/gallery_kv-02sp.jpg" alt="image">
            <figcaption class="gallery__itemCaption">境内案内</figcaption>
          </figure>
          <figure class="gallery__item"><img class="u-pcDb" src="../../_assets/images/common/gallery_kv-03.jpg" alt="image"><img class="u-spDb" src="../../_assets/images/common/gallery_kv-03sp.jpg" alt="image">
            <figcaption class="gallery__itemCaption">墓地案内</figcaption>
          </figure>
          <figure class="gallery__item"><img class="u-pcDb" src="../../_assets/images/common/gallery_kv-04.jpg" alt="image"><img class="u-spDb" src="../../_assets/images/common/gallery_kv-04sp.jpg" alt="image">
            <figcaption class="gallery__itemCaption">アクセス</figcaption>
          </figure>
        </div>
      </section>
    </main>
    <footer class="siteFooter">
      <div class="inner__cont">
        <div class="siteFooter__wrapper">
          <figure class="siteFooter__kv"><img src="../../_assets/images/common/footer_logo.png" alt=""></figure>
          <div class="siteFooter__content">
            <p class="siteFooter__name small">七星山</p>
            <p class="siteFooter__name big">光徳院</p>
            <p class="siteFooter__details">164-0002 <br class="u-spDb">東京都中野区上高田5-18-3<br>TEL：03−3386−5143<br>FAX：03−3386−5371</p>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="../../_assets/js/bundle.js"></script>
    
  </body>
</html>

htdocs/src/pug/news/single/index.pug
//- META INFORMATION
- const page_title = 'Notice Single'
- const relativePath = '../..'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keyworks'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com/about/'
- const currentPage = 'news_single'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = false
- const isBootstrap = false

doctype html
html(lang="ja")
    head
        //- HEAD
        include ../../_inc/_head.pug
    |
    |
    body.newsPage.newsPageSingle
        //- HEADER
        include ../../_inc/_siteHeader.pug
        |
        |

        //- MAIN CONTENT
        main.siteContent(role="main")
            section.sec01
                .news__bg
            section.news__inner
                h1.news__title 0000000のお知らせ
                p.news__subtitle
                    |	タイトルタイトルタイトル
                    br
                    |	タイトルタイトル

                .news__content
                    p.news__contentText この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字

                figure.news__kv
                    img(src=`${relativePath}/_assets/images/common/sample.jpg`, alt="image")

            section.gallery
                .gallery__list
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-01.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-01sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 光徳院について
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-02.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-02sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 境内案内
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-03.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-03sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 墓地案内
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-04.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-04sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption アクセス

        //- FOOTER
        include ../../_inc/_siteFooter.pug
        |
        |
