htdocs/src/pug/index.pug
//- META INFORMATION
- const page_title = 'Coding Test 202110'
- const relativePath = '.'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keywords'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com'
- const currentPage = 'home'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = false
- const isBootstrap = false
- const isPolyfill = true


//- CONTENT DATA
-
    //- Accordions
    const accordions = [
        {
            title: 'Title 1',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
        },
        {
            title: 'Title 2',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
        },
        {
            title: 'Title 3',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
        },
    ];

    //- KV Slider
    const kvSlider = [
        {
            image: 'topKVSlide_01.jpg',
            text: 'Slide 1'
        },
        {
            image: 'topKVSlide_02.jpg',
            text: 'Slide 2'
        },
        {
            image: 'topKVSlide_03.jpg',
            text: 'Slide 3'
        },
    ];

    //- Custom select
    const newsData = [
        { cat: 'お知らせ', date: '2020年7月18日', content: '法事(回忌法要）動画中継の開始'},
        { cat: 'お知らせ', date: '2020年6月20日　', content: '今年度の盂蘭盆会に関しまして'},
        { cat: 'お知らせ', date: '2020年5月20日　', content: '施餓鬼会を終えました'},
        { cat: 'お知らせ', date: '2020年4月20日', content: '一般墓地　B区画・C区画に空きがございます'},
        { cat: 'お知らせ', date: '2020年4月10日　', content: '今年度の施餓鬼会に関しまして'},
        { cat: 'お知らせ', date: '2020年4月 2 日', content: '法事・葬儀に関しまして'},
        { cat: 'お知らせ', date: '2020年3月30日　', content: '当山の新型コロナ感染対策'},
        { cat: 'お知らせ', date: '2020年3月27日　', content: '花まつり中止のお知らせ'},
    ];



doctype html
html(lang="ja")
    head
        //- HEAD
        include ./_inc/_head.pug

    body.topPage#top
        //- HEADER
        include ./_inc/_siteHeader.pug

        //- MAIN CONTENT
        main.siteContent(role="main")
            section.sec01
                figure.top__kv
                    img.u-pcDb(src=`${relativePath}/_assets/images/top/top_kv-01.jpg`, alt="img01")
                    img.u-spDb(src=`${relativePath}/_assets/images/top/top_kv-01sp.jpg`, alt="img01")
                .inner
                    p.top__content
                        |   光徳院は、御府内八十八カ所霊場の#[br.u-spDb]第58番札所です。
                        br
                        |   平成7年に建立された五重塔は、
                        br
                        |   小さいながらも木像瓦葺きの#[br.u-spDb]本格的造りのもので、
                        br
                        |   仏塔愛好家の方々に親しまれてします。

            section.sec02
                .inner
                    .news
                        h2.news__title お知らせ
                        .u-pcDb
                            .news__list
                                .news__item: each item in newsData
                                    a.news__link(href="./news/single/")
                                        p.news__cat=item.cat
                                        .news_info
                                            p.news__infoDate=item.date
                                            p.news__infoText=item.content
                                .news__button
                                    a.news__buttonItem(href="./news") お知らせ一覧はこちら

                        .u-spDb
                            .news__list
                                - for (var x = 0; x < 5; x++)
                                    .news__item
                                        a.news__link(href="./news/single/")
                                            p.news__cat お知らせ
                                            .news_info
                                                p.news__infoDate 2020年7月18日
                                                p.news__infoText 法事(回忌法要）動画中継の開始
                                .news__button
                                    a.news__buttonItem(href="./news") お知らせ一覧はこちら

                    .buttons
                        a.buttons__item.arrow-right(href="")
                            figure.buttons__icon
                                img(src=`${relativePath}/_assets/images/common/icon_pdf.svg`, alt="pdf icon")
                            .buttons__text
                                p.buttons__text.big お塔婆の申込書
                                span.buttons__text.small ダウンロードはこちら
                        a.buttons__item.arrow-right(href="")
                            figure.buttons__icon
                                img(src=`${relativePath}/_assets/images/common/icon_pdf.svg`, alt="pdf icon")
                            .buttons__text
                            .buttons__text
                                p.buttons__text.big お塔婆の申込書
                                span.buttons__text.small ダウンロードはこちら

                    .banner
                        a.banner__button(href="")
                            img(src=`${relativePath}/_assets/images/common/icon_ye.svg`, alt="banner")
            section.gallery
                .gallery__list
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-01.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-01sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 光徳院について
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-02.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-02sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 境内案内
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-03.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-03sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 墓地案内
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-04.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-04sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption アクセス


        //- FOOTER
        include ./_inc/_siteFooter.pug

htdocs/dist/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Coding Test 202110 | Website Name</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, viewport-fit=cover">
    <meta name="keywords" content="this is meta keywords">
    <meta name="description" content="this is meta description">
    <meta property="og:title" content="this is meta title">
    <meta property="og:type" content="website">
    <meta property="og:description" content="this is meta description">
    <meta property="og:url" content="http://website.com">
    <meta property="og:image" content="./_assets/images/_etc/ogp.jpg">
    <meta property="fb:app_id" content="XXXXXXXXXXXXXXXX">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@XXXXX">
    <meta name="twitter:creator" content="@XXXXX">
    <meta name="twitter:image:src" content="./_assets/images/_etc/ogp.jpg">
    <link rel="icon" type="image/x-icon" href="./_assets/images/_etc/favicon.ico">
    <link rel="icon" type="image/png" href="./_assets/images/_etc/favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="./_assets/images/_etc/custom-icon.png">
    <script>
      (function(d) {
      var config = {
      kitId: 'iea8wuh',
      scriptTimeout: 3000,
      async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
      
    </script>
    
    <!-- Styles-->
    <link rel="stylesheet" media="print,screen" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" media="print,screen" href="./_assets/css/style.css">
  </head>
  <body class="topPage" id="top">
    <header class="siteHeader">
      <div class="siteHeader__inner">
        <div class="u-spDb"><a class="siteHeader__logo-sp" href="/"><img src="./_assets/images/common/globalNav_logo-sp.png" alt="nav logo"></a>
          <div class="hamburger">
            <div class="hamburger__trigger js-hamburger"><span class="hamburger__triggerSpan"></span><span class="hamburger__triggerSpan"></span><span class="hamburger__triggerSpan"></span></div>
            <p class="hamburger__menu">menu</p>
          </div>
        </div>
        <nav class="siteHeader__nav" role="navigator">
          <div class="u-pcDb">
            <ul class="siteHeader__navList">
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="./">光徳院について</a></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="./">境内案内</a></li>
              <li class="siteHeader__navItem"></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="./">墓地案内</a></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="./">アクセス</a></li>
            </ul>
          </div>
          <div class="u-spDb">
            <ul class="siteHeader__navList">
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="./">トップページ</a></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="./">光徳院について</a></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="./">境内案内</a></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="./">墓地案内</a></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="./">アクセス</a></li>
              <li class="siteHeader__navItem"><a class="siteHeader__navLink" href="./">お知らせ</a></li>
            </ul>
          </div><a class="siteHeader__logo" href="/"><img src="./_assets/images/common/globalNav_kv.png" alt="nav logo"></a>
        </nav>
      </div>
    </header>
    <main class="siteContent" role="main">
      <section class="sec01">
        <figure class="top__kv"><img class="u-pcDb" src="./_assets/images/top/top_kv-01.jpg" alt="img01"><img class="u-spDb" src="./_assets/images/top/top_kv-01sp.jpg" alt="img01"></figure>
        <div class="inner">
          <p class="top__content">  光徳院は、御府内八十八カ所霊場の<br class="u-spDb">第58番札所です。<br>  平成7年に建立された五重塔は、<br>  小さいながらも木像瓦葺きの<br class="u-spDb">本格的造りのもので、<br>  仏塔愛好家の方々に親しまれてします。</p>
        </div>
      </section>
      <section class="sec02">
        <div class="inner">
          <div class="news">
            <h2 class="news__title">お知らせ</h2>
            <div class="u-pcDb">
              <div class="news__list">
                <div class="news__item"><a class="news__link" href="./news/single/">
                    <p class="news__cat">お知らせ</p>
                    <div class="news_info">
                      <p class="news__infoDate">2020年7月18日</p>
                      <p class="news__infoText">法事(回忌法要）動画中継の開始</p>
                    </div></a><a class="news__link" href="./news/single/">
                    <p class="news__cat">お知らせ</p>
                    <div class="news_info">
                      <p class="news__infoDate">2020年6月20日　</p>
                      <p class="news__infoText">今年度の盂蘭盆会に関しまして</p>
                    </div></a><a class="news__link" href="./news/single/">
                    <p class="news__cat">お知らせ</p>
                    <div class="news_info">
                      <p class="news__infoDate">2020年5月20日　</p>
                      <p class="news__infoText">施餓鬼会を終えました</p>
                    </div></a><a class="news__link" href="./news/single/">
                    <p class="news__cat">お知らせ</p>
                    <div class="news_info">
                      <p class="news__infoDate">2020年4月20日</p>
                      <p class="news__infoText">一般墓地　B区画・C区画に空きがございます</p>
                    </div></a><a class="news__link" href="./news/single/">
                    <p class="news__cat">お知らせ</p>
                    <div class="news_info">
                      <p class="news__infoDate">2020年4月10日　</p>
                      <p class="news__infoText">今年度の施餓鬼会に関しまして</p>
                    </div></a><a class="news__link" href="./news/single/">
                    <p class="news__cat">お知らせ</p>
                    <div class="news_info">
                      <p class="news__infoDate">2020年4月 2 日</p>
                      <p class="news__infoText">法事・葬儀に関しまして</p>
                    </div></a><a class="news__link" href="./news/single/">
                    <p class="news__cat">お知らせ</p>
                    <div class="news_info">
                      <p class="news__infoDate">2020年3月30日　</p>
                      <p class="news__infoText">当山の新型コロナ感染対策</p>
                    </div></a><a class="news__link" href="./news/single/">
                    <p class="news__cat">お知らせ</p>
                    <div class="news_info">
                      <p class="news__infoDate">2020年3月27日　</p>
                      <p class="news__infoText">花まつり中止のお知らせ</p>
                    </div></a>
                </div>
                <div class="news__button"><a class="news__buttonItem" href="./news">お知らせ一覧はこちら</a></div>
              </div>
            </div>
            <div class="u-spDb">
              <div class="news__list">
                <div class="news__item"><a class="news__link" href="./news/single/">
                    <p class="news__cat">お知らせ</p>
                    <div class="news_info">
                      <p class="news__infoDate">2020年7月18日</p>
                      <p class="news__infoText">法事(回忌法要）動画中継の開始</p>
                    </div></a></div>
                <div class="news__item"><a class="news__link" href="./news/single/">
                    <p class="news__cat">お知らせ</p>
                    <div class="news_info">
                      <p class="news__infoDate">2020年7月18日</p>
                      <p class="news__infoText">法事(回忌法要）動画中継の開始</p>
                    </div></a></div>
                <div class="news__item"><a class="news__link" href="./news/single/">
                    <p class="news__cat">お知らせ</p>
                    <div class="news_info">
                      <p class="news__infoDate">2020年7月18日</p>
                      <p class="news__infoText">法事(回忌法要）動画中継の開始</p>
                    </div></a></div>
                <div class="news__item"><a class="news__link" href="./news/single/">
                    <p class="news__cat">お知らせ</p>
                    <div class="news_info">
                      <p class="news__infoDate">2020年7月18日</p>
                      <p class="news__infoText">法事(回忌法要）動画中継の開始</p>
                    </div></a></div>
                <div class="news__item"><a class="news__link" href="./news/single/">
                    <p class="news__cat">お知らせ</p>
                    <div class="news_info">
                      <p class="news__infoDate">2020年7月18日</p>
                      <p class="news__infoText">法事(回忌法要）動画中継の開始</p>
                    </div></a></div>
                <div class="news__button"><a class="news__buttonItem" href="./news">お知らせ一覧はこちら</a></div>
              </div>
            </div>
          </div>
          <div class="buttons"><a class="buttons__item arrow-right" href="">
              <figure class="buttons__icon"><img src="./_assets/images/common/icon_pdf.svg" alt="pdf icon"></figure>
              <div class="buttons__text">
                <p class="buttons__text big">お塔婆の申込書</p><span class="buttons__text small">ダウンロードはこちら</span>
              </div></a><a class="buttons__item arrow-right" href="">
              <figure class="buttons__icon"><img src="./_assets/images/common/icon_pdf.svg" alt="pdf icon"></figure>
              <div class="buttons__text"></div>
              <div class="buttons__text">
                <p class="buttons__text big">お塔婆の申込書</p><span class="buttons__text small">ダウンロードはこちら</span>
              </div></a></div>
          <div class="banner"><a class="banner__button" href=""><img src="./_assets/images/common/icon_ye.svg" alt="banner"></a></div>
        </div>
      </section>
      <section class="gallery">
        <div class="gallery__list">
          <figure class="gallery__item"><img class="u-pcDb" src="./_assets/images/common/gallery_kv-01.jpg" alt="image"><img class="u-spDb" src="./_assets/images/common/gallery_kv-01sp.jpg" alt="image">
            <figcaption class="gallery__itemCaption">光徳院について</figcaption>
          </figure>
          <figure class="gallery__item"><img class="u-pcDb" src="./_assets/images/common/gallery_kv-02.jpg" alt="image"><img class="u-spDb" src="./_assets/images/common/gallery_kv-02sp.jpg" alt="image">
            <figcaption class="gallery__itemCaption">境内案内</figcaption>
          </figure>
          <figure class="gallery__item"><img class="u-pcDb" src="./_assets/images/common/gallery_kv-03.jpg" alt="image"><img class="u-spDb" src="./_assets/images/common/gallery_kv-03sp.jpg" alt="image">
            <figcaption class="gallery__itemCaption">墓地案内</figcaption>
          </figure>
          <figure class="gallery__item"><img class="u-pcDb" src="./_assets/images/common/gallery_kv-04.jpg" alt="image"><img class="u-spDb" src="./_assets/images/common/gallery_kv-04sp.jpg" alt="image">
            <figcaption class="gallery__itemCaption">アクセス</figcaption>
          </figure>
        </div>
      </section>
    </main>
    <footer class="siteFooter">
      <div class="inner__cont">
        <div class="siteFooter__wrapper">
          <figure class="siteFooter__kv"><img src="./_assets/images/common/footer_logo.png" alt=""></figure>
          <div class="siteFooter__content">
            <p class="siteFooter__name small">七星山</p>
            <p class="siteFooter__name big">光徳院</p>
            <p class="siteFooter__details">164-0002 <br class="u-spDb">東京都中野区上高田5-18-3<br>TEL：03−3386−5143<br>FAX：03−3386−5371</p>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- Scripts-->
    <script src="./_assets/lib/polyfill/smoothscroll.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="./_assets/js/bundle.js"></script>
  </body>
</html>
